---
layout: default
pagination:
  enabled: true
  tag: posts
---


<div class="home">

  <h1 class="page-heading">Posts</h1>

  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
        <!--
          <a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
        -->
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>

      {% if post.image != "" and post.image != nil %}
      <!--
        <img src={{"/images/" | append: post.image | prepend: site.baseurl | prepend: site.url }} width="600">
      -->
        <img src={{"/images/" | append: post.image | prepend: site.baseurl }} width="600">
      {% endif %}
  {% endfor %}


  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
    <!--
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | prepend: site.url}}" class="previous">
    -->
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
    <!--
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | prepend: site.url}}" class="next">Next</a>
    -->
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

</div>

<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
-->

      <!-- Check if image variable is defined in post to display featured image-->
<!--
      {% if post.image != "" and post.image != nil %}
      <img src={{"/images/" | append: post.image | prepend: site.baseurl | prepend: site.url }}>
      {% endif %}

    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

-->