<!-- <div class="embed-container">
  <iframe
      src="https://www.youtube.com/embed/{{ include.id }}"
      width="700"
      height="480"
      frameborder="0"
      allowfullscreen="">
  </iframe>
</div>
-->

<div class="auto-resizable-iframe">
  <div>
    <iframe
     src="https://www.youtube.com/embed/{{ include.id }}"
     frameborder="0"
     allowfullscreen="">
     </iframe>
  </div>
</div>