<div style="float:left;">
<div class="embed-container">
  <iframe
      src="https://www.youtube.com/embed/{{ include.id }}"
      width="320"
      height="240"
      frameborder="0"
      allowfullscreen="">
  </iframe>
</div>
</div>