---
layout: default
---

{% for post in site.posts %}
{% if post.categories contains "av" or post.categories contains "robotics" or post.categories contains "ai" %}
    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
        {% if month != nmonth %}
            {% if forloop.index != 1 %}</ul>{% endif %}
            <h3>{{ post.date | date: '%B %Y' }}</h3><ul>
        {% endif %}
    <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    <!-- <time>{{ post.date | date: "%e %B %Y" }}</time> -->
{% endif %}
{% endfor %}

