---
layout: default
---
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.categories.projects %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>

      <!-- Check if image variable is defined in post to display featured image-->
      {% if post.image != "" and post.image != nil %}
      <!--
        <img src={{"/images/" | append: post.image | prepend: site.baseurl | prepend: site.url }} width="600">
      -->
        <img src={{"/images/" | append: post.image | prepend: site.baseurl }} width="600">
      {% endif %}

    {% endfor %}
  </ul>

</div>
